  @font-face{
    font-family:"LyonDisplay-Regular";
    src: url("https://itssandyw.github.io/corestudio/htmlmarkup/Lyon-Display/LyonDisplay-Regular.otf");

  }
.hh{
  font-family:"LyonDisplay-Regular";
  font-size: 30px;

}
