  @font-face{
    font-family:"LyonText";
    src: url("https://liweiheli.github.io/seventype/LyonText-Regular.otf");
    font-style:normal;
    font-stretch: normal;
  }

.hh{
  font-family:"LyonText";
  
}
